.forgotPassword__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forgotPassword__content {
  background-color: var(--container-color);
  border-radius: 8px;
  width: 636px;
  height: 447px;
}
