.MuiPaper-root.MuiAlert-root.MuiAlert-standardError.MuiPaper-elevation0 {
  display: none;
}

.MuiPaper-root.MuiAlert-root.MuiAlert-standardError.MuiPaper-elevation0[is-active="true"] {
  display: flex;
  position: fixed;
  right: 10px;
  top: 15px;
  z-index: 999;
}
